[auth]
netid = your_netid
duo_key = raw_TOTP_secret

[email]
server = imap.example.com
address = your.registered.personal.email@example.com
password = y0ur_V3ry_seCuRe_P4ssw*rd!

[integrations]
print = true
network_manager = false
